<div class="container">
<div class="stats">  
<h1 class="boot_name"><%= @student.name %></h1>

<ul class="information">
  <li><%= image_tag @student.gravatar_url( :size => 500) %></li>
  <li><%= @student.email %></li>
  <li><%= @student.cohort_name %></li>
  <li><%= @student.bio %></li>

  <li id='count'><%= @student.student_points %></li>
  <li><a id="up_vote_button" href="/comment_vote"><img src="http://www.clker.com/cliparts/x/M/j/R/Y/d/arrow-th.png"></a></li>
</ul>  
</div>

<ul class ="media">  
  <li><%= link_to image_tag('https://abs.twimg.com/a/1382945665/images/resources/twitter-bird-light-bgs.png',:class => "twitter" ), @student.twitter  %></li>
  <li><%= link_to image_tag('http://www.hdicon.com/wp-content/uploads/2013/04/Facebook_icon_2013.png',:class => "facebook" ), @student.facebook  %></li>
  <li><%= link_to image_tag('http://3doordigital.com/wp-content/uploads/LinkedIn-Logo-150x150.png',:class => "linked_in" ), @student.linked_in  %></li>
  <li><%= link_to image_tag('http://extensionizr.com/img/github-logo.png',:class => "github" ), @student.github  %></li>
</ul>
  <%= form_tag student_path(@student), :method => 'patch', :id => 'student'  do %>
   <%= text_field_tag(:body) %>
   <%= submit_tag("Submit") %>
<% end %>

<ul class="comment">
  <%@comments.each do |c|%>
  <li><%=c.body%></li>
  <%end%>

</ul>
</div>
